{% load i18n admin_urls %}
{% block object-tools-items %}
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% translate "Histories" %}</a>
</li>
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    {% if pk %}
        <a href="{% url 'generate_pdf_invoice' pk %}" target="_blank" class="historylink">{% translate "Generate PDF Invoice" %}</a>
        <a href="{% url 'generate_and_email_pdf_invoice' pk %}" target="_blank" class="historylink">{% translate "Generate and Email PDF Invoice" %}</a>
    {% endif %}
</li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% translate "View on site" %}</a></li>{% endif %}
{% endblock %}
